{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Links</title>
    <link rel="stylesheet" href="{% static 'lap5/links.css' %}">
</head>
<body>

    <div class="section section-one">
        <a href="https://www.qu.edu.sa/en/" target="blank">Go to QU website (open a new tab)</a>
    </div>

    <div class="section section-two">
        <a href="https://www.qu.edu.sa/en/">Go to QU website (open in the same page/tab)</a>
    </div>
    
    <div class="section section-three">
        <a href="https://www.qu.edu.sa/en/">Go to QU website (open in the same page/tab)</a>
    </div>

</body>
</html>