{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Books Availability{% endblock title %}
{% block content %}
<h1>Percentage of book in library</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Availability (%)</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.quantity }}</td>
        <td>{{ book.availability_percentage }}%</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
